In [32]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import os
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import pymongo
from splinter import Browser
import time

In [33]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [34]:
news_url = 'https://redplanetscience.com/'

browser.visit(news_url)

html = browser.html

news_soup = BeautifulSoup(html, 'html.parser')

In [35]:
news_titles = news_soup.find_all('div', class_='content_title')
news_p=news_soup.find_all('div', class_='article_teaser_body')

for news_title in news_titles:
    print(news_title.text)

Scientists Explore Outback as Testbed for Mars
NASA's Mars 2020 Rover Tests Descent-Stage Separation
NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light
NASA Engineers Checking InSight's Weather Sensors
NASA's Mars Helicopter Attached to Mars 2020 Rover
Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
Global Storms on Mars Launch Dust Towers Into the Sky
NASA's New Mars Rover Is Ready for Space Lasers
NASA Moves Forward With Campaign to Return Mars Samples to Earth
NASA Mars Mission Connects With Bosnian and Herzegovinian Town
NASA's InSight 'Hears' Peculiar Sounds on Mars
Space History Is Made in This NASA Robot Factory
10.9 Million Names Now Aboard NASA's Perseverance Mars Rover
InSight's 'Mole' Team Peers into the Pit
Robotic Toolkit Added to NASA's Mars 2020 Rover

In [36]:
for paragraph in news_p:
    print(paragraph.text)

Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.
A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft.
Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.
The helicopter will be first aircraft to perform flight tests on another planet.
As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
A Mars Dust Tower Stands Out Dust storms are common on Mars. But every decade or so, something unpredictable happens: a series of runaway storms break out, covering the entire planet in a dusty haze.
Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.
During this next phase, the program will mature critical technologies and make critical design decisions as well as assess industry partnerships.
A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.
Listen to the marsquakes and other, less-expected sounds that the Mars lander has been detecting.
From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.
As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.
Efforts to save the heat probe continue.
The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.

In [37]:
image_url = 'https://spaceimages-mars.com'

browser.visit(image_url)

html = browser.html

image_soup = BeautifulSoup(html, 'html.parser')

In [38]:
time.sleep(1)

In [46]:
full_img = image_soup.find('img', class_='headerimage fade-in')['src']
featured_image_url = image_url + full_img
print(featured_image_url)

https://spaceimages-mars.comimage/featured/mars2.jpg

In [47]:
url='https://galaxyfacts-mars.com'

In [48]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [50]:
type(tables)

list

In [51]:
df=tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [59]:
df= df.rename(columns= {0:"Description",1:"Mars",2:"Earth"})
df=df.set_index('Description')
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [62]:
df=df.drop(df.index[0])
df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [63]:
html_table = df.to_html()
html_table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [64]:
df.to_html('table.html')

In [92]:
url = "https://marshemispheres.com/"
browser.visit(url)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [93]:

# Obtain high resolution images for each of Mar's hemispheres
results = soup.find_all('div', class_='item')

hemisphere_image_urls = []
for result in results:
    hemi_dict = {}
    # Use Beautiful Soup's find() method to navigate and retrieve attributes
    title = result.find('h3').text
    link = result.find('a')['href']
        
    hemi_dict['title'] = title
    hemi_url = url + link
        
    try:
        browser.visit(hemi_url)
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
            
        images = soup.find_all('div', class_='downloads')
        
        for image in images:
            full_image = image.find('a')['href']
            hemi_dict['img_url'] = url + full_image
            hemisphere_image_urls.append(hemi_dict)
    except:
        print("Scraping Complete")

In [94]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]